.input {
  composes: input from '@shared/FormInput/InputElement/index.module.css';
}

.inputWrapper {
  flex: 1 1 auto !important;
  min-width: 0;
  position: relative;
}

.withAdornment {
  padding-right: 52px;
}

.inputAdornment {
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
}

.actions {
  flex: 0 0 auto !important;
  display: flex;
  gap: 8px;
  align-items: center;
}

.hasError {
  color: var(--destructive);
  border-color: var(--destructive);
}

.error {
  composes: error from '@shared/FormInput/index.module.css';
  position: static;
  top: auto;
  left: auto;
  right: auto;
  z-index: auto;
  margin-top: 6px;
}
