.feedback {
  /* font-size: var(--font-size-small); */
  padding: 0 16px;
  /* padding-top: calc(var(--spacer) / 1.5); */
  margin-top: calc(var(--spacer) / 2);
  margin-bottom: calc(var(--spacer) / 1);
  position: relative;
  width: 100%;
  background: var(--warning-bg);
  border: 1px solid var(--warning-border);
  border-radius: var(--radius-xl);
  display: flex;
  min-height: 40px;
  gap: 10px;
}

.feedback i {
  position: absolute;
  left: 0;
  /* top: calc(var(--spacer) / 1.45); */
}

.title {
  font-family: var(--font-family-base);
  margin-bottom: 0px;
  margin-top: 14px;
  font-weight: 400;
  font-size: 14px;
  color: var(--foreground);
}

.error {
  font-family: var(--font-family-base);
  font-size: 14px;
  margin-bottom: 0px;
  margin-top: 11px;
  font-weight: 700;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: var(--brand-highlight);
  cursor: pointer;
}

.warningImage svg {
  width: 25px !important;
  height: 43px !important;
}
