.avatar {
  width: var(--font-size-large);
  height: var(--font-size-large);
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 0 0 1px var(--border);
  display: inline-block;
  vertical-align: middle;
}
