.txHash {
  display: inline-block;
  font-size: 12px;
  font-family: var(--font-family-monospace);
  font-variant-numeric: tabular-nums;
  font-weight: 500;
  color: var(--muted-foreground);
}

a.txHash {
  color: var(--brand-highlight);
}

a.txHash:hover {
  text-decoration: underline;
}
