.EmojiPickerReact * {
  font-family: var(--font-family-base) !important;
}
.EmojiPickerReact.epr-dark-theme {
  --epr-bg-color: var(--background-content) !important;
  --epr-category-label-bg-color: var(--overlay-dark-90) !important;
}
.EmojiPickerReact {
  --epr-emoji-size: 24px !important;
  --epr-highlight-color: var(--deck-blue) !important;
  --epr-hover-bg-color: var(--deck-blue-8) !important;
  --epr-focus-bg-color: var(--deck-blue-12) !important;
}

.EmojiPickerReact .epr-search-container input.epr-search {
  background-color: transparent !important;
  border-color: var(--input) !important;
  border-radius: var(--radius-lg) !important;
  color: var(--foreground) !important;
}

.EmojiPickerReact .epr-search-container input.epr-search:focus {
  background-color: var(--epr-search-input-bg-color-active);
  border-color: var(--deck-blue) !important;
  box-shadow: 0 0 0 3px var(--ring);
}

.EmojiPickerReact.epr-dark-theme .epr-search-container input.epr-search {
  color: var(--brand-white) !important;
}

.EmojiPickerReact.epr-dark-theme .epr-search-container input.epr-search:focus {
  border-color: var(--brand-white) !important;
}

.EmojiPickerReact .epr-category-nav > button.epr-cat-btn {
  -webkit-filter: none;
  filter: none;
}

.EmojiPickerReact .epr-body::-webkit-scrollbar {
  display: none;
}

.EmojiPickerReact .epr-body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

aside.EmojiPickerReact.epr-main {
  border-width: 0 !important;
}
