.timeout {
  display: block;
  text-align: right;
  font-size: var(--font-size-mini);
  color: var(--muted-foreground);
}

.priceRow {
  width: 100%;
  border-bottom: 1px solid var(--border);
  padding-top: calc(var(--spacer) / 7);
  padding-bottom: calc(var(--spacer) / 7);
  display: grid;
  grid-template-columns: 5% 70% 25%;
  column-gap: 0;
}

.priceRow:last-child {
  border-bottom: none;
  border-top: 1px solid var(--border);
}

.sign {
  display: inline-block;
  text-align: left;
  color: var(--muted-foreground);
  font-size: var(--font-size-base);

  margin-top: -10px;
}

.type {
  display: inline-block;
  text-align: left;
  color: var(--muted-foreground);
  font-size: var(--font-size-mini);
}

.priceColumn {
  display: grid;
  font-family: var(--font-family-monospace);
  font-variant-numeric: tabular-nums;
  color: var(--deck-blue);
  text-align: right;
  width: 100%;
}

.typeContainer {
  display: flex;
  align-items: center;
  gap: calc(var(--spacer) / 4);
}

.tooltip {
  display: flex;
  align-items: center;
}
