.defaultContainer {
  display: flex;
  align-items: center;
  gap: var(--sp-1_5);
}

.defaultContainer svg {
  width: 14px;
  height: 14px;
  margin: 0;
  color: var(--success);
}

.fileDetails {
  display: flex;
  flex-direction: row;
  gap: var(--sp-1_5);
  font-size: var(--font-size-small);
  color: var(--deck-blue);
}

.confirmed {
  font-weight: var(--font-weight-base);
  color: var(--color-success, var(--success));
}
